/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */




/* ////// second lessen  ///// */
/*
.card{
  border: 1px solid rgb(133, 133, 133);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(148, 147, 147);
  padding: 20px;
  margin: 15px;
  text-align: center;
  max-width: 250px;
  display: inline-block; 
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}


.card .card-img{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  margin: 0;
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 20%);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
}
*/






/* ////////// third lessen /////////// */

/* .button{
  background-color: hsl(200, 100%, 50%);
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
} */









/*///// fourth lessen //////////// */


/* .student{
  font-family: Arial,  sans-serif;
  font-size: 2em;
  border: 2px solid hsl(0, 0%, 40%);
  padding: 10px;
}

.student p{
  margin: 0;
} */






/* ///// lessen 5 ////////// */
/* 
.welcome-message{
  font-size: 2.5em;
  background-color: rgb(173, 37, 116);
  color: black;
  margin: 0;
  padding: 10px;
  border-radius: 5px;
}

.login-prompt{
  font-size: 2.5em;
  background-color: rgb(25, 175, 82);
  color: rgb(187, 187, 187);
  margin: 0;
  padding: 10px;
  border-radius: 5px;
} */








/* ///////////// lessen 6 ////////// */
/*
.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  margin-bottom: 10px;
  border: 3px solid;
  border-radius: 5px;
  text-align: center;
  background-color: hsl(185, 100%, 50%);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  text-align: center;
  color: hsl(0, 0%, 25%);
  margin: 0;
}

.list-items li:hover{
  cursor: pointer;
  color: hsl(0, 0%, 45%);
}
*/





/* //////////// lessen 8 usestate ///////////// */
/*
.counter-container{
  text-align: center;
  font-family: Arial, sans-serif;

}

.count-display{
  font-size: 10em;
  margin-top: 10px;
  margin-bottom: 50px;

}

.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: palevioletred;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsl(340, 57%, 54%);
}
*/








/*//////////////// lessen 10 color picker /////////// */


/*
body{
  font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3rem;
  margin: 50px;
}


.color-display{
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(0, 0%, 80%);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}

.color-display p{
  color: hsl(0, 0, 20%);
  text-align: center;
  font-size: 2rem;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}


input[type="color"]{
  width: 75px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid hsl(0, 0, 80%) ;
}

*/








/* ///////// lessen 15 to do list ///////// */
/*
body{
  background-color: hsl(0, 0%, 10%);
}

.to-do-list{
  font-family: Arial, sans-serif;
  margin-top: 100px;
  text-align: center;
}

h1{
  font-size: 4rem;
  color: hsl(0, 0%, 100%);
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: hsl(125, 47%, 54%);
}

.add-button:hover{
  background-color: hsl(125, 47%, 44%);
}

.delete-button{
  background-color: hsl(10, 90%, 50%);
}

.delete-button:hover{
  background-color: hsl(10, 90%, 40%);
}

.move-button{
  background-color: hsl(207, 90%, 65%);
}

.move-button:hover{
  background-color: hsl(207, 90%, 55%);
}

input[type="text"]{
  padding: 10px;
  font-size: 1.6rem;
  border: 2px solid hsl(0, 0%, 80% ,0.5);
  border-radius: 5px;
  color: hsl(0, 0%, 0% ,0.5);
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  background-color: hsl(0, 0%, 97%);
  border: 3px solid hsl(0, 0%, 85%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.delete-button , .move-button{
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 1.4rem;
}


@media (max-width: 800px) {
  li{
    font-size: 1.6rem;
  }

}
*/








/* ///////// lessen 17 digital clock //////// */

/*
body{
  background-image: url(assets/photo-1496442226666-8d4d0e62e6e9.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;


  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.digital-container{
  backdrop-filter: blur(5px);
  width: 100vw;
  padding: 10px 0;
}

.clock{
  color: hsl(0, 0%, 100%);
  font-family: monospace;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
  text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}
*/








/* ///////////// lessen 18 use context ////////////// */
/*
.box{
  border: 3px solid;
  padding: 25px 20px;
}
*/










/* //////////// lessen 20 stopwatch ////////// */
/*
body{
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stopwatch-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: hsl(0, 0%, 100%);
  padding: 30px 35px;
}

.display{
  font-family: monospace;
  font-size: 5rem;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px 2px hsl(0, 0%, 0% , 0.75);
  margin-bottom: 25px;
}

.controls button{
  border: none;
  border-radius: 5px;
  min-width: 125px;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  cursor: pointer;
  margin: 5px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.start-btn{
  background-color: hsl(120, 100%, 40%);
}

.start-btn:hover{
  background-color: hsl(120, 100%, 30%);
}

.stop-btn{
  background-color: hsl(0, 81%, 54%);
}

.stop-btn:hover{
  background-color: hsl(0, 81%, 44%);
}

.reset-btn{
  background-color: hsl(160, 57%, 42%);
}

.reset-btn:hover{
  background-color: hsl(160, 57%, 32%);
}
*/










/* /////////////// lessen router //////////////// */
/*
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 15px gray;
}

.Header{
  width: 100%;
  background-color: hsl(180, 82%, 48%);
  height: 3rem;
  
}

.nav{
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: hsl(180, 96%, 39%);
}

.searchform{
  width: 70%;
  padding: 1rem 0 0 0.75rem;
}

#input{
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0.5rem;
  min-height: 48px;
  border: none;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  outline: none;
}



.nav ul{
  list-style-type: none;
  display: flex;
  padding: 0.3rem 3.4rem;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
}


.nav li{
  text-decoration: none;
  list-style-type: none;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  color: aliceblue;
}




.nav li a {
  color: #fff;
  text-decoration: none;
}

.nav li:hover, 
.nav li:focus, 
.nav li:hover a, 
.nav li:focus a  {
  background-color: #eee;
  color: #333;
}

.nav li:hover a, 
.Nav li:focus a {
  cursor: pointer;
}


.home{
  margin-top: 1.2rem;
}

.post{
  margin-top: 1.2rem;
  margin-bottom: 1.1rem;
  border-bottom: 1px solid lightgray;
  margin-left: 2rem;
}

.home .post a{
  text-decoration: none;
}


.home .post a, 
.home .post a:visited {
  color: #000;
}

.post:first-child {
  margin-top: 0;
}

.post:last-child {
  border-bottom: none;
}

.post .postdatehome{
  font-size: 1rem;
  margin-top: 0.25rem;
  color: hsl(0, 100%, 50%);
}

.post .postbodyhome{
  font-size: 1.5rem;
  margin: 1rem 0;
  color: hsl(212, 100%, 50%);
}

.post .posttitlehome{
  color: hsl(0, 0%, 10%);
}

.postpage{
  margin-bottom: 1rem;
}


.postpage h2{
  font-size: 1.8rem;
  margin-bottom: 0.75rem;
}

.postpage .postdate{
  font-size: 1.4rem;
  color: hsl(0, 100%, 50%);
}



.postpage .postbody{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1rem;
}


.home, .newPost, .postpage, .about, .missing {
  width: 100%;
  flex-grow: 1; 
  padding: 1rem;
  overflow-y: auto; 
  background-color: #fff;
}


.postshow button{
  font-size: 1rem;
  font-weight: bold;
  background-color: hsl(0, 87%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.postshow button:hover{
  background-color: hsl(0, 87%, 45%);
}


.newpost h2{
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 18rem;
  font-size: 2.5rem;
}

.newpostform{
  display: flex;
  flex-direction: column;
  
}

.newpostform label{
  font-weight: bold;
  font-size: 1.4rem;
}


.newpostform #posttitleid{
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  height: 30px;
  font-size: 1.2rem;
  width: 50vw;
  box-shadow: 3px 3px 3px rgb(113, 111, 111);
}


.newpostform #postbodyid{
  border-radius: 6px;
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-shadow: 3px 3px 3px rgb(113, 111, 111);
}

.newpostform button{
  border: none;
  font-weight: bold;
  border-radius: 6px;
  background-color: hsl(168, 88%, 38%);
  color: hsl(0, 0%, 100%);
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.5 ease;
}


.newpostform button:hover{
  background-color: hsl(168, 88%, 28%);
  
}


.footer{
  width: 100%;
  max-width: 100vw;
  background-color: hsl(168, 88%, 38%);
  padding: 0.75rem;
  text-align: center;
  display: grid;
  place-content: center;
  position: relative;
  top: 7.6rem;
}
*/



           



/* ////////////// tic tac toe ///////////////// */ 
/*
* , *::after , *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body{
  background-color: hsl(180, 25%, 25%);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.tictactoe{
  text-align: center;
}

.title{
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: hsl(0, 0%, 100%);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.reset-btn{
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 50px;
  background-color: hsl(200, 35%, 19%);
  color: hsl(166, 100%, 57%);
}


.column{
  height: 180px;
  width: 180px;
  display: flex;
  border: 2px solid hsl(200, 38%, 9%);
  border-radius: 0.5rem;
  background-color: hsl(200, 35%, 19%);
  cursor: pointer;
  margin: 3px;
}

.play-board{
  display: flex;
  width: 540px;
  height: 600px;
  margin: auto;
}



.column img{
  margin: 50px 50px;
}



.title img{
  padding: 20px 20px;
  height: 40px;
}
*/
